<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Greška | Margotekstil</title>

        <meta name="description" content="Žao nam je, ali tražena stranica nije pronađena ili je premeštena na drugu adresu. Ako ste stigli do ove stranice nesto nije u redu. Probajte ponovo da učitate stranicu ili proverite internet vezu. Možete nas kontaktirati..."/> 
         <meta name="keywords" content="margotekstil, margo, tekstil, margo tekstil, margoteks, beograd, margotekstil beograd, margotekstil usluge, uslužno šivenje, šivenje, dekorativni tekstil, dekorativni tekstil za kuću, error, greška, 404, eror 404, stranica nije pronađena, page not found"/>

    <th:block th:insert="fragments/head :: head" />


</head>

<body>
    <img src="/img/error.jpg" class="header-img" alt="error-header-image">


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>MARGOTEKSTIL</h2>
    <p>GREŠKA</p>
</div>


<section class="error-page-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>404</h1>
                <h2>Stranica nije pronađena!</h2>
                <p>
                    Žao nam je, ali tražena stranica nije pronađena ili je premeštena na drugu adresu.
                </p>
                <a class="btn btn-theme effect btn-md" th:href="@{/}">Nazad na početnu</a>
            </div>
        </div>
    </div>
</section>

<th:block th:insert="fragments/footer :: footer" />

<div id="backToTop"></div>

<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>