<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" 

      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" 
      >

    <head>
        <title>Margotekstil | Početna strana</title>
        <meta name="description" content="Margotekstil početna strana. Šijemo za Vas širok asortiman proizvoda,od svih raspoloživih vrsta tekstila. Home page."/> 
    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <div class="kontejner">

        <img src="/img/header.jpg" class="header-img" alt="home-header-image">

        <th:block th:insert="fragments/navigation :: navbar" />


        <div class="text-box">
            <h2 class="">MARGOTEKSTIL</h2>
            <p class="">više od <span>20</span> godina iskustva</p>
            <!--                    <th:block th:if="${user != null}">
                                    <p><span th:text="${user.ime}"></span></p>
                                      <p><span th:text="${user.role}"></span></p>
                                      <span sec:authorize="hasAnyAuthority('ADMIN')">pozdrav admine</span>
                                          <span sec:authorize="hasAnyAuthority('SHOPPER')">pozdrav shoppere</span>
                                </th:block>-->
            <!--</div>-->
        </div>
        <th:block th:insert="fragments/alert :: gotovaporudzbina (${successMessage})"></th:block>

        <th:block th:insert="fragments/alert :: uspesnaPrijava (${successMessageLogin})"></th:block>

        <div class="services">
            <div>
                <h3>Naše usluge</h3>
                <p>Šijemo za Vas širok asortiman proizvoda,
                    <br>
                    od svih raspoloživih vrsta tekstila<span class="tacka">.</span></p>
            </div>
        </div>

        <div class="container mt-5 mb-4 karte">
            <div class="row">
                <div class="col-md-4" >
                    <div class="card">
                        <a th:href="@{/dekorativniProgram}"><img src="/img/stolnjaci.jpg" alt="deco-textile-img"></a>
                        <a style="text-decoration: none" th:href="@{/dekorativniProgram}">
                            <div class="card-content card-content2">
                                <div class="card-title">DEKORATIVNI TEKSTIL <br>ZA KUĆU</div>
                                <p class="card-text">Šivenje i izrada kompletnog tekstilnog programa za Vaš dom.</p>
                                <button class="detail-button">Detaljnije</button>
                            </div>

                        </a>
                    </div>
                </div>

                <div class="col-md-4" >
                    <div class="card">
                        <a th:href="@{/enterijer}"><img src="/img/enterijer.jpg" alt="horeca-textile-img"></a>
                        <a style="text-decoration: none" th:href="@{/enterijer}">
                            <div class="card-content card-content2">
                                <div class="card-title">HORECA TEKSTIL</div>
                                <p class="card-text">Skrojen ambijent po meri čini okruženje prijatnim za boravak i druženje.</p>
                                <button class="detail-button">Detaljnije</button>
                            </div>

                        </a>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card">
                        <a th:href="@{/petmania}"><img src="/img/psic.jpg" alt="petmania-img"></a>
                        <a style="text-decoration: none" th:href="@{/enterijer}">
                            <div class="card-content card-content1">
                                <div class="card-title">PET MANIA</div>
                                <p class="card-text">Širok izbor ležajeva i prostirki za pse i mačke.</p>
                                <button  class="detail-button">Detaljnije</button>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>



        <div class="img-parallax">
            <p>Naše dugogodišnje iskustvo bavljenja krojačkim zanatom <br> i širok asortiman proizvoda
                priuštiće vašim klijentima  <br> uvek nove i nezaboravne utiske kojima će se rado vraćati.</p>
        </div>


    </div>




    <div class="container partneri mt-5">
        <h2>Neki od naših klijenata</h2>
        <section class="customer-logos slider" >
            <div class="slide"><img src="/img/grand.png" alt="hotel-grand-image"></div>
            <div class="slide"><img src="/img/gorski.jpg" alt="hotel-gorski-image"></div>
            <div class="onelogo"> <img  src="/img/moskva.png" alt="hotel-moskva-image"/></div>
            <div class="slide" ><img class="img-with-margin" src="/img/casabianca.jpg" alt="casa-bianca-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/blackandwhite.jpg" alt="blackandwhite-image"></div>
            <div class="slide"><img src="/img/hotelsrbija.jpg" alt="hotel-srbija-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/excelsior.png" alt="hotel-excelsior-image"></div>
            <div class="slide"><img src="/img/kalemegdanskaterasa.jpg" alt="kalemegdanska-terasa-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/hyatt.jpg" alt="hotel-hyatt-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/hotelapart.png" alt="hotel-apart-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/harmonija.png" alt="harmonija-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/grandhertz.png" alt="grandhertz-image"></div>
            <div class="slide"><img class="img-with-margin" src="/img/pink-sala.png" alt="pink-sala-image"></div>
        </section>
    </div>



</div>



<!--contact us section--> 
<div class=" contact-us" style="overflow-x: hidden">
    <div class="row">
        <div class="col-md-6" >
            <div class="fleks-center">
                <h3 class="send-us-a-message-header">Pošaljite nam poruku</h3>
                <form class="forma" style="overflow: hidden"  th:action="@{/posaljiPoruku}" method="POST">                                                                   
                    <div class="form-row">
                        <div class="form-group col floating-placeholder">
                            <label for="inputIme">Ime</label>
                            <input type="text" class="form-control mt-2" name="ime" placeholder="Ime">
                            <label></label>
                        </div>
                        <div class="form-group col floating-placeholder">
                            <label for="inputPrezime">Prezime</label>
                            <input type="text" class="form-control mt-2" name="prezime" placeholder="Prezime">
                            <label></label>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col floating-placeholder">
                            <label for="inputEmail">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email">
                            <label></label>

                        </div>
                        <div class="form-group col floating-placeholder">
                            <label for="inputTelefon">Telefon</label>
                            <input type="number" name="telefon" class="form-control" placeholder="Telefon">
                            <label></label>

                        </div>
                    </div>
                    <div class="form-group floating-placeholder-textarea  mt-3">
                        <label for="inputPoruka">Poruka</label>
                        <textarea type="text" rows="6" name="poruka" cols="50" class="form-control" placeholder="Poruka"></textarea>
                        <label></label>

                    </div>
                    <button type="submit" class="posalji-btn-contact-form-home-page">Pošalji</button>

                </form>
            </div>
        </div>
        <div class="col-md-6 bg-color-contact " >
            <h3 class="contact-header">Kontakt</h3>
            <ul class="list-info">
                <li><i class="fa fa-globe fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Časlava Veljića 53, Beograd</li>
                <li><i class="fa fa-envelope fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:margoteks.doo@gmail.com" target="_blank" rel="noopener">margoteks.doo@gmail.com</a></li>
                <li><i class="fa fa-phone fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>+381 64 112 51 29</span></li>
            </ul>
            <p class="pratite-nas">Pratite nas:</p>
            <ul class="social-icons-contact">
                <li><a href="https://www.facebook.com/margoteks/" aria-label="Our Facebook page"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram fa-2x" aria-label="Our Instagram page"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-2x"aria-label="Our Twitter page"></i></a></li>
            </ul>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer" />


<div id="backToTop"></div>

<th:block th:insert="fragments/scripts :: scripts" />
<script th:src="@{/js/floatingPlaceholder.js}" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://unpkg.com/jquery-aniview/dist/jquery.aniview.js"></script>
<script th:src="@{/js/floatingPlaceholder.js}" type="text/javascript"></script>


<script th:src="@{/js/slickCarouselPartneri.js}" type="text/javascript"></script>
<script th:src="@{/js/uspesnaKupovinaAlert.js}" type="text/javascript"></script>

</body>

</html>