<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.sprinfgramework.org/schema/security" xmlns:sec2="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Margotekstil | Uslovi Korišćenja</title>

   
    <meta name="description" content="Margotekstil uslovi korišćenja, informacije o kupovini, pravima potrošača i dostavi. Terms of use, legal."/> 
        <th:block th:insert="fragments/head :: head" />
        <link th:href="@{/css/usloviKoriscenja.css}" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <img src="/img/sew1.jpg" class="header-img" alt="uslovi-koriscenja-header-image">

            <th:block th:insert="fragments/navigation :: navbar" />
            <div class="text-box">
                <h2>MARGOTEKSTIL</h2>
                <p>USLOVI KORIŠĆENJA</p>
            </div>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

                <section class="body-content">
                    <section class="section">
                        <div class="container">
                            <div class="content">
                                <div class="page-content">
                                    <h1>Uslovi korišćenja</h1>
                                    <div class="page-text">
                                        <p>Uslovi pod kojima se prikupljaju i obrađuju podaci o ličnosti uređeni su Zakonom o zaštiti podataka o ličnosti („Sl.glasnik RS“ br.87/2018).&nbsp;</p>

                                        <p>Kao društveno odgovorna kompanija, mi,&nbsp;</p>

                                        <p><b>VM MARGO TEKSTIL DOO BEOGRAD-NOVI BEOGRAD&nbsp;</b></p>

                                        <p><b>Adresa:&nbsp;</b></p>
                                        <p>Adresa: Časlava Veljića 53v, Beograd</p>
                                        <p>Matični broj: 21608491&nbsp;</p>
                                        <p>PIB: 112106369</p>

                                        <p><b>Kontakt telefon:</b></p>
                                        <p>+381 64 112 51 29</p>

                                        <p><b>E-mail:</b></p>
                                        <p>margoteks.doo@gmail.com</p>

                                        <p>u svemu se pridržavamo Zakonom propisanih pravila i načela postupanja.</p>

                                        <p>Ovim putem Vas obaveštavamo o načinu i svrsi prikupljanja Vaših ličnih podataka, kao i drugim pitanjima koja bi Vas mogla zanimati.</p>

                                        <p><b>MARGOTEKSTIL prikuplja sledeće podatke o ličnosti:&nbsp;</b></p>

                                        <p>Ime i prezime,</p>
                                        <p>Adresa stanovanja,</p>
                                        <p>E-mail adresa,</p>
                                        <p>Broj telefona.</p>

                                        <p><b>Vaše lične podatke prikupljamo na sledeći način:</b></p>

                                        <p>Registracijom korisnika na sajtu prilikom procesa kupovine i prijavom na <span class="italic">Newsletter</span> listu.</p>

                                        <p><b>MARGOTEKSTIL podatke o ličnosti obrađuje u skladu sa članom 12 Zakona o zaštiti podataka o ličnosti:</b></p>

                                        <p>Na osnovu Vašeg pristanka na obradu Vaših podataka o ličnosti.</p>

                                        <p>Kada je to neophodno, radi izvršenja ugovora koji smo zaključili sa Vama kao licem na koje se podaci odnose ili za preduzimanje radnji, po Vašem zahtevu, pre zaključenja ugovora.</p>

                                        <p>Kada je to neophodno u cilju poštovanja naših pravnih obaveza.</p>

                                        <p>Vaši lični podaci neophodni su u realizaciji ugovornog odnosa i bez njih ne bi bili u mogućnosti da stupimo u ugovorni odnos sa Vama i da ispunimo svoje ugovorne i zakonske obaveze. Davanje tih podataka je preduslov za zaključnje i izvršenje ugovora.</p>

                                        <p>Na osnovu Vašeg pristanka, Vaše lične podatke koristimo u svrhu neposrednog marketinga, kako bismo Vam prosledili informacije o aktuelnoj ponudi, novim proizvodima, promocijama, akcijama... Vaš pristanak na obradu podataka o ličnosti, u svrhu neposrednog marketinga, možete opozvati u svakom trenutku slanjem poruke na našu e-mail adresu margoteksdoo@gmail.com&nbsp;</p>

                                        <p>Podatke o ličnosti koje obrađujemo i čuvamo Vi ste nam dobrovoljno dali. Nemamo mogućnost provere da li su nam Vaši lični podaci dati korišćenjem Vaših sredstava komunikacije od strane trećeg lica. Zato molimo da nas bez odlaganja izvestite o svakoj mogućoj upotrebi/zloupotrebi Vaših sredstava komunikacije od strane trećih lica.</p>

                                        <p>Pristup Vašim podacima imaju samo lica zaposlena u MARGOTEKSTIL u meri u kojoj je to neophodno radi izvršenja ugovornih ili zakonskih obaveza. Pristup Vašim ličnim podacima mogu dobiti drugi pružaoci usluga, koje angažujemo u cilju realizacije ugovornog odnosa sa Vama. U tom slučaju pridržavanje propisa o zaštiti podataka o ličnosti obezbeđujemo ugovorom.</p>

                                        <p>MARGOTEKSTIL ne vrši automatizovano donošenje odluka i profilisanje.</p>

                                        <p>MARGOTEKSTIL ne vrši transfer podataka o ličnosti van teritorije Evropske unije, niti van teritorije Republike Srbije.</p>

                                        <p>Vaše lične podatke čuvamo onoliko koliko je to potrebno za ispunjenje svrhe za koju su dati, vodeći računa o zakonskim obavezama čuvanja podataka, prevashodno poreskim propisima i propisima koji regulišu ugovor o prodaji.&nbsp;</p>

                                        <p><b>Kao lice na koje se odnose i od kojeg se podaci o ličnosti prikpljaju imate sledeća prava:</b></p>

                                        <p>Pravo da od kompanije MARGOTEKSTIL zahtevate pristup Vašim ličnim podacima;</p>
                                        <p>Pravo da zahtevate ispravku netačnih, pogrešno unetih ili zastarelih podataka;</p>
                                        <p>Pravo da zahtevate brisanje Vaših podataka o ličnosti, ukoliko se obrada zasniva na Vašem pristanku. Pristanak možete opozvati u svakom trenutku, s tim da opoziv ne utilče na dopuštenost obrade koja je vršena na osnovu pristanka pre opoziva.</p>
                                        <p>Pravo da zahtevate ograničenje obrade Vaših podataka o ličnosti;</p>
                                        <p>Pravo na prigovor;</p>
                                        <p>Pravo na prenosivost podataka;</p>
                                        <p>Pravo na opoziv pristanka u bilo koje vreme, s tim što opoziv pristanka ne utiče na dopuštenost obrade na osnovu pristanka pre opoziva;</p>
                                        <p>Pravo da podnesete pritužbu Povereniku za zaštitu podataka o ličnosti.&nbsp;</p>
                                        <p>Pravo da dobijete informaciju o tome da li obrađujemo Vaše podatke o ličnosti, informaciju o tome koje se informacije prikupljaju i iz kojih izvora, u koju svrhu se Vaši podaci o ličnosti obrađuju, o primaocu ili vrstama primaoca kojima su podaci o ličnosti otkriveni ili će im biti otkriveni, a posebno primaocima u drugim državama ili međunarodnim organizacijama, o predviđenom roku čuvanja podataka o ličnosti, a ako to nije moguće, o kriterijumima za određivanje tog roka.</p>

                                        <p>Sva prava možete ostvariti kontaktiranjem VM MARGO TEKSTIL DOO BEOGRAD-NOVI BEOGRAD na adresu: Časlava Veljića 53v, Beograd</p>
                                        <p>E-mail: <a class="email-poverenik" href="mailto:margoteks.doo@gmail.com" target="_blank" rel="noopener">margoteks.doo@gmail.com&nbsp;</a></p>
                                        <p>Telefon: +381 64 112 51 29</p>

                                        <p>Važno je da znate da je organ nadležan za zaštitu podataka o ličnosti Poverenik za informacije od javnog značaja i zaštitu podataka o ličnosti kome se možete obratiti na adresu:&nbsp;</p>
                                        <p>Bulevar kralja Aleksandra 15, 11000 Beograd</p>
                                        <p>E-mail: <a class="email-poverenik" href="mailto:office@poverenik.rs" target="_blank" rel="noopener">office@poverenik.rs</a></p>
                                        <p>Telefon: +381 11 3408 900</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>



                <!--color: #00a5b5; hover a email link-->







                <th:block th:insert="fragments/footer :: footer" />

                <div id="backToTop"></div>


                <th:block th:insert="fragments/scripts :: scripts" />
                <script th:src="@{/js/floatingPlaceholder.js}" type="text/javascript"></script>


                </body>

                </html>