<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Margotekstil Proizvodi</title>

        <th:block th:insert="fragments/head :: head" />

    </head>

    <body>
        <img src="/img/proizvodi-head.jpg" class="header-img" alt="header-image">

            <th:block th:insert="fragments/navigation :: navbar" />

            <div class="text-box">
                <h2>MARGOTEKSTIL</h2>                                              
                <p>PREGLED KORPE</p>
            </div>




            <div class="container referenca-proudzbine-box">
                <div class="kupovina">
                    <!--prva-->
                    <p class="referenca-proudzbine">Referenca porudžbine: <span>gtrftg5</span></p>
                    <div class="referenca-proudzbine-padding">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12  slika-za-referencu">
                                <div class="img-frame">
                                    <a href=""><img class="img-order" src="/img/dog1.jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-6 text-za-referencu">
                                <div class="text-za-referencu-o-proizvodu">
                                    <div class="">Naziv proizvoda: <span ></span> </div> 
                                    <div class="">Opis: <span></span></div> 
                                    <div class="">Cena: <span></span></div> 
                                </div>
                                <br>
                                    <div class="info-o-kupcu">Informacije o kupcu</div>
                                    <div class="">Ime i prezime: <span></span></div>  
                                    <div class="">Adresa: <span></span></div> 
                                    <div class="">Telefon: <span></span></div> 
                                    <div class="">Email adresa: <span></span></div> 
                                    <div class="">Način plaćanja: <span></span></div> 
                                    <div class="">Naručena količina: <span></span></div> 
                            </div>
                        </div>
                    </div>
                    <hr>

                        <!--druga-->
                        <div class="referenca-proudzbine-padding">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12  slika-za-referencu">
                                    <div class="img-frame">
                                        <a href=""><img class="img-order" src="/img/dog2.jpg"></a>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-za-referencu">
                                    <div class="text-za-referencu-o-proizvodu">
                                        <div class="">Naziv proizvoda: <span ></span> </div> 
                                        <div class="">Opis: <span></span></div> 
                                        <div class="">Cena: <span></span></div> 
                                    </div>
                                    <br>
                                        <div class="info-o-kupcu">Informacije o kupcu</div>
                                        <div class="">Ime i prezime: <span></span></div>  
                                        <div class="">Adresa: <span></span></div> 
                                        <div class="">Telefon: <span></span></div> 
                                        <div class="">Email adresa: <span></span></div> 
                                        <div class="">Način plaćanja: <span></span></div> 
                                        <div class="">Naručena količina: <span></span></div> 
                                </div>
                            </div>
                        </div>
                        <hr>


                            </div>

                            </div>












                            <th:block th:insert="fragments/footer :: footer" />

                            <div id="backToTop"></div>


                            <th:block th:insert="fragments/scripts :: scripts" />
                            <th:block th:insert="fragments/scripts :: shopScriptsRegistered" />



                            </body>

                            </html>