<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Proizvod | Admin | Margotekstil</title>

    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/proizvodSlikeSlide.css}" rel="stylesheet" type="text/css" />


 <meta name="description" content="Margotekstil strana proizvoda. Detalji o proizvodu. - admin"/> 
             <meta name="keywords" content="margotekstil, margo, tekstil, margo tekstil, margoteks, beograd, margotekstil beograd, margotekstil usluge, uslužno šivenje, prodavnica, shop, online prodavnica, online shop, margotekstil prodavnica, margotekstil shop, margotekstil proizvodi, šivenje, tekstilni program za kućne ljubimce, program za kućne ljubimce, petmania, pet mania, petmania program, margotekstil petmania, ležaj za kućne ljubimce, ležaj za pse, ležaj za kučiće, ležaj za mačke, flexy ležaj za kućne ljubimce, sleep easy ležaj za kućne ljubimce, prostirka za kućne ljubimce, podmetači za posude za hranu, torba za kućne ljubimce, torba za pse, torba za mačke, vodonepropusni materijali, vrhunski kvalitet, kvalitet, margotekstil vodonepropusni materijali, margotekstil vrhunski kvalitet, margotekstil kvalitet, povoljno, detalji o proizvodu"/>
</head>

<body>
       <th:block th:insert="fragments/topbar :: topbar" />
 <img src="/img/proizvodi-head.jpg" class="header-img" alt="proizvod-header-image">


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>MARGOTEKSTIL</h2>
    <!--<p>KREVET ZA PSE</p>-->
        <!--<p><span th:text="${proizvod.getIme()}"></span></p>-->

</div>


<!--popup sa svime sto treba -->                            
<div id="addedToCart-window" >
    <div class="addedToCart-window-content ">
        <h4 id="ProizvodDodatJS">Proizvod je dodat u korpu</h4>
        <div class="row mt-3" style="padding:.5rem">
            <div class="col-md-6 figure-left">
                <div class="master-img"><img id="popupimg" th:src="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.glavnaslika.id},proizvodId=${proizvod.id})}"  class="popup-slika img-fluid" /></div>
            </div>
            <div class="col-md-6 figure-right">
                <span class="productName" id="popupnaziv"  th:text="${proizvod.getIme()}"> </span><br>
                <span class="master-price" id="popupcena" th:text="${proizvod.getCena()}"></span> <span style="">RSD</span>
                <div class="shop-buttons row">
                    <a th:href="@{/korpa}" class="btn-cart col-12">Idi u korpu</a>
                    <a th:href="@{/admin/prodavnica}" class="btn-shop-outline col-12">Nazad na shop</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--popup sa svime sto treba -->   


<th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
<th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>


<div class="single-product-show">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/prodavnica}">Proizvodi</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span th:text="${proizvod.ime}"></span></li>
            </ol>
        </nav>
        <div class="row">
            <th:block>
                <div class="col-sm-6">
                    <th:block th:if="${proizvod.glavnaslika!=null}">
                        <th:block th:if="${proizvod.glavnaslika!=null}">
                            <div class="row">
                                <section id="prikaz-showing">
                                    <div class="prikaz img-wrapper" >
                                        <a th:href="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.glavnaslika.id},proizvodId=${proizvod.id})}" id="show-img-link">      
                                            <img th:src="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.glavnaslika.id},proizvodId=${proizvod.id})}" th:alt="${proizvod.glavnaslika.title}" id="show-img" class="img-fluid">
                                        </a>
                                        <div class="img-overlay-margo"></div>
                                    </div>

                                    <div class="small-img ">
                                        <img src="/img/left-right-arrow.png" class="icon-left" alt="left arrow" id="prev-img">
                                        <div class="small-container">
                                            <th:block th:if="${not #lists.isEmpty(proizvod.photos)}">

                                                <div id="small-img-roll" style="left:0">
                                                    <!--                                                            <img th:src="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.glavnaslika.id},proizvodId=${proizvod.id})}" alt="Glavna slika" class="show-small-img" style="border: 1px solid rgb(149, 27, 37); padding: 2px;">-->

                                                    <img id="007" th:alt="${proizvod.glavnaslika.alt_text}" class="show-small-img sledece" style="border: 2px solid rgb(149, 27, 37); padding: 2px;" th:src="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.glavnaslika.id},proizvodId=${proizvod.id})}" />



                                                    <th:block th:each="slika,iterator:${proizvod.photos}" >       
                                                        <!--                                                                    <img  th:src="@{/photo/{proizvodId}/{photoId} (photoId=${slika.id},proizvodId=${proizvod.id})}" th:alt="${iterator.count}+'. slika'" class="show-small-img" style="border: none; padding: 0px;" alt="now">-->
  <th:block th:if="${slika.active}" >       
                                                        <img th:id="'007'+${iterator.index}" th:alt="${iterator.count}+'. slika'" class="show-small-img sledece" style="border: none; padding: 0px;"  th:src="@{/photo/{proizvodId}/{photoId} (photoId=${slika.id},proizvodId=${proizvod.id})}" />
 </th:block> 

                                                    </th:block>  
                                                </div>
                                            </th:block>
                                        </div>
                                        <img src="/img/left-right-arrow.png" class="icon-right" alt="right arrow" id="next-img" >
                                    </div>
                                    <br>
                                            <p><span style="font-weight: 600;font-size:13px">Ključne reči: </span><span th:text="${proizvod.getKeywords()}" style="font-size:13px"></span></p>

                                </section>

                            </div>
                            <!--<img class=""  th:src="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.glavnaslika.id},proizvodId=${proizvod.id})}">-->
                        </th:block>
                    </th:block>
                    <th:block th:if="${proizvod.glavnaslika==null}">
                        <img class="" style="height: 100%; width: 100%; object-fit: cover" src="/img/imageNotFound.jpg">
                        <!--ubaciti precrtanu sliku-->
                    </th:block>
                </div>
                <div class="col-sm-6">
                    <h1><span th:text="${proizvod.getIme()}"></span></h1>
                    <h2><span th:text="${proizvod.getCena()}"></span>&nbsp;RSD</h2>
                    <div class="description mt-4">
                        <p><span th:text="${proizvod.getOpis()}" style="white-space: pre-wrap"></span></p>
                        <p><span style="font-weight: 600">Kategorija: </span><span th:text="${proizvod.getKategorija()}"></span></p>
                        <p><span style="font-weight: 600">Dimenzije: </span><span th:text="${proizvod.getDimenzije()}"></span> cm</p>
                        <p><span style="font-weight: 600">Težina: </span><span th:text="${proizvod.getKilaza()}"></span> kg</p>
                        <!--<p><span style="font-weight: 600">Ključne reči: </span><span th:text="${proizvod.getKeywords()}"></span></p>-->

                        
                        <div class="radio-group">

                            <th:block th:if="${not #lists.isEmpty(proizvod.boje)}">

                                <th:block th:each="boja, brojac : ${proizvod.boje}" >
                                    <th:block th:if="${boja.active == true} " > 
                                        <th:block th:if="${brojac.index==0} " >  <div class='radio selected' th:bojaid="${boja.id}"> <img class="color-circle" th:src="@{/boja/{bojaId} (bojaId=${boja.id})}" th:alt="${boja.alt_text}" th:title="${boja.title}"> </div> </th:block>
                                        <th:block th:if="${brojac.index != 0} " >  <div class='radio'  th:bojaid="${boja.id}"  > <img class="color-circle" th:src="@{/boja/{bojaId} (bojaId=${boja.id})}" th:alt="${boja.alt_text}" th:title="${boja.title}"> </div> </th:block>

                                    </th:block>
                                </th:block> 

                            </th:block>
                            <!--<div class='radio selected'> <img class="color-circle" th:src="@{/photo/{proizvodId}/{photoId} (photoId=${proizvod.boje.id},proizvodId=${proizvod.id})}"> </div>-->


                        </div> 
                        
                    </div>
                    <form method='POST' action='#'>
                        <div class="quantity">
                            <input type='button'  value='-' class='minus' field='quantity' />
                            <input  type='text' name='quantity' value='1' class='qty'id="kolicina"  />
                            <input type='button' value='+' class='plus' field='quantity' />
                        </div>
                            <span class=" dodajKolicinuJS add-to-cart-with-icon-productAdminPage buttonAdd2Cart" id="buttonAdd2Cart" th:pid="${proizvod.getId()}" bojaid="" th:photoid="${proizvod.glavnaslika.id}" th:proizvodid="${proizvod.id}" th:naziv="${proizvod.getIme()}" th:cena="${proizvod.cena}" >Dodaj u korpu &nbsp;<i class="fa fa-shopping-cart fa-lg"></i>
                            </span>
                        <br>  <a th:href="@{/admin/izmeniProizvod/{proizvodId} (proizvodId=${proizvod.id})}"  class="mr-1"><button type="button" class="edit-product-adminProductPage" >Izmeni proizvod</button></a>
                        <a th:href="@{/admin/izmeniProizvod/{proizvodId}/dodajSliku (proizvodId=${proizvod.id})}"  ><button type="button" class="add-img-btn-adminProductPage" >Dodaj sliku</button></a>
                        <a th:href="@{/admin/izmeniProizvod/{proizvodId}/dodajBoju (proizvodId=${proizvod.id})}"  ><button type="button" class="add-img-btn-adminProductPage add-color-btn-adminProductPage" >Dodaj boju / dezen</button></a>
                        <a th:href="@{/admin/izmeniProizvod/{proizvodId}/izmeniSlike (proizvodId=${proizvod.id})}"  ><button type="button" class="add-img-btn-adminProductPage mt-2" >Izmeni slike</button></a>

                    </form> 

                    <th:block th:insert="fragments/addToCartPopup :: addToCartPopup (${proizvod})" />

                </div>
            </th:block>
            <div class="col-sm-12 mt-3">
                <h3>Slični proizvodi</h3>
            </div>
            <th:block th:if="${not #lists.isEmpty(proizvod.slicniproizvodi)}">

                <th:block th:each="sproizvod : ${proizvod.slicniproizvodi}" >
                    <th:block th:if="${sproizvod.active == true} " > 

                        <th:block th:insert="fragments/shopFragment :: jedanProizvodAdmin (${sproizvod})" />

                    </th:block>
                </th:block>






            </th:block>
            <th:block th:if="${#lists.isEmpty(proizvod.slicniproizvodi)}">
                <th:block th:each="sproizvod : ${prvaTriProizvoda}" >
                    <th:block th:if="${sproizvod.active == true} " > 

                        <th:block th:insert="fragments/shopFragment :: jedanProizvodAdmin (${sproizvod})" />

                    </th:block>
                </th:block> 

            </th:block>

        </div>
        <!--<p style="font-size: 13px;margin-top: 3rem;"><span style="font-weight: 600">Ključne reči: </span><span th:text="${proizvod.getKeywords()}"></span></p>-->
    </div>
</div>


<th:block th:insert="fragments/footer :: footer" />

<div id="backToTop"></div>

<th:block th:insert="fragments/scripts :: scripts" />
<th:block th:insert="fragments/scripts :: shopScriptsRegistered" />
<script th:src="@{/js/chooseColor.js}" type="text/javascript"></script>

<script th:src="@{/js/proizvodSlikeCarousel.js}" type="text/javascript"></script>
<script th:src="@{/js/proizvodSlikeSlide.js}" type="text/javascript"></script>
</body>

</html>

