<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Margotekstil Admin Galerija</title>

        <th:block th:insert="fragments/head :: head" />

    </head>

    <body>
        <img src="/img/galerija-img1.jpg" class="header-img" alt="gallery-header-image">

            <th:block th:insert="fragments/navigation :: navbar" />

            <div class="text-box">
                <h2>MARGOTEKSTIL</h2>
                <p>GALERIJA</p>
            </div>


            <th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
            <th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>


            <section id="gallery">
                <div class="div-with-a-btn-dodajSliku-adminGalerijaPage">
                    <a th:href="@{/admin/novaSlika}"><button type="button" class="dodajuKorpu dodajSliku-adminGalerijaPage" >Dodaj sliku</button></a>
                </div> 

                <div class="container">
                    <th:block th:insert="fragments/pagination :: pagination (${listaSlika})" />

                    <div id="image-gallery">
                        <div class="row">





                            <th:block th:each="slika : ${listaSlika}" >  
                                <th:block th:if="${slika.proizvod==null and slika.active == true and slika.glavnazaproizvod==null} " >  
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 image">
                                        <div class="img-wrapper">
                                            <a th:href="@{/photo/{photoId} (photoId=${slika.id})}"> <img th:src="@{/photo/{photoId} (photoId=${slika.id})}" style="height: 100%; width: 100%; object-fit: cover" /></a>

                                            <div class="img-overlay">
                                            </div>
                                        </div>
                                        <br>
                                            <a th:href="@{/admin/obrisiSliku/{photoId} (photoId=${slika.id})}"><button type="button" class="remove-img-btn-adminGalerijaPage">Ukloni sliku</button></a>

                                    </div>
                                </th:block>
                            </th:block>





                        </div><!-- End row -->
                    </div><!-- End image gallery -->
                    <div style="padding-top: 2rem">
                        <th:block th:insert="fragments/pagination :: pagination (${listaSlika})" />
                    </div>
                </div><!-- End container --> 
            </section>

            <th:block th:insert="fragments/footer :: footer" />

            <div id="backToTop"></div>

            <th:block th:insert="fragments/scripts :: scripts" />
            <script th:src="@{/js/galerijaSlide.js}" type="text/javascript"></script>

    </body>

</html>