<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Margotekstil Proizvodi</title>

        <th:block th:insert="fragments/head :: head" />

    </head>

    <body>
        <img src="/img/proizvodi-head.jpg" class="header-img" alt="header-image">

            <th:block th:insert="fragments/navigation :: navbar" />

            <div class="text-box">
                <h2>MARGOTEKSTIL</h2>                                              
                <p>PREGLED KORPE</p>
            </div>




            <div class="container referenca-proudzbine-box">
                <div class="kupovina">
                    <!--prva-->
                    <p class="referenca-proudzbine">Referenca porudžbine: <span>gtrftg5</span></p>
                    <div class="referenca-proudzbine-padding">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-6 slika-za-referencu">
                                <div class="">
                                    <a href=""><img class="" src="/img/dog1.jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-6 text-za-referencu">
                                <div class=""><div class="">Naziv proizvoda:</div> <span ></span> </div>
                                <div class=""><div class="">Opis:</div> <span></span></div>
                                <div class=""><div class="">Cena:</div> <span></span></div>
                                <br>
                                    <div class="info-o-kupcu">Informacije o kupcu</div>
                                    <div class=""><div class="">Ime i prezime:</div> <span ></span> </div>
                                    <div class=""><div class="">Adresa:</div> <span></span></div>
                                    <div class=""><div class="">Telefon:</div> <span></span></div>
                                    <div class=""><div class="">Email adresa:</div> <span ></span> </div>
                                    <div class=""><div class="">Način plaćanja:</div> <span></span></div>
                                    <div class=""><div class="">Naručena količina:</div> <span></span></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                        
                        <!--druga-->
                        <div class="referenca-proudzbine-padding">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-6 slika-za-referencu">
                                <div class="">
                                    <a href=""><img class="" src="/img/dog2.jpg"></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-6 text-za-referencu">
                                <div class=""><div class="">Naziv proizvoda:</div> <span ></span> </div>
                                <div class=""><div class="">Opis:</div> <span></span></div>
                                <div class=""><div class="">Cena:</div> <span></span></div>
                                <br>
                                    <div class="info-o-kupcu">Informacije o kupcu</div>
                                    <div class=""><div class="">Ime i prezime:</div> <span ></span> </div>
                                    <div class=""><div class="">Adresa:</div> <span></span></div>
                                    <div class=""><div class="">Telefon:</div> <span></span></div>
                                    <div class=""><div class="">Email adresa:</div> <span ></span> </div>
                                    <div class=""><div class="">Način plaćanja:</div> <span></span></div>
                                    <div class=""><div class="">Naručena količina:</div> <span></span></div>
                            </div>
                        </div>
                    </div>
                    <hr>
                        
                        
                </div>

            </div>












            <th:block th:insert="fragments/footer :: footer" />

            <div id="backToTop"></div>


            <th:block th:insert="fragments/scripts :: scripts" />
            <th:block th:insert="fragments/scripts :: shopScriptsRegistered" />



    </body>

</html>