<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Dodavanje nove slike u galeriju | Margotekstil</title>

        <th:block th:insert="fragments/head :: head" />
   

<meta name="description" content="Margotekstil dodavanje nove slike u galeriju - admin"/> 
    <meta name="keywords" content="margotekstil, margo, tekstil, margo tekstil, margoteks, beograd, margotekstil beograd, galerija, margotekstil galerija, margotekstil galerija slika, proslave, venčanja, svadbe, restorani, hoteli "/>

    </head>

    <body>

          <th:block th:insert="fragments/topbar :: topbar" />
  <img src="/img/proizvodi-head.jpg" class="header-img" alt="nova-slika-header-image">

            <th:block th:insert="fragments/navigation :: navbar" />

            <div class="text-box">
                <h2>MARGOTEKSTIL</h2>                                              
                <p>Dodavanje nove slike u galeriju</p>
            </div>

            <th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
            <th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>

            <section id="products-show">
                <div class="container">
                    <form th:action="@{/admin/novaSlika/save}" enctype="multipart/form-data"  method="post" class="form-horizontal adminNovaSlikaForma" autocomplete="off">



                        <div class="form-group " >
                            <h3 class="dodavanje-nove-slike col-md-6">Dodavanje nove slike u galeriju</h3>
                            <div class="col-md-6 centrirajFormuInput"  >
                                <label for="naslov-slike">Naslov slike:</label>
                                <input type="text" class=" form-control input-custom-border"  name="title" id="naslov-slike" >
                            </div>
                            <div class="col-md-6 centrirajFormuInput mt-3"  >
                                <label for="alt-tekst">Alternativni tekst:</label>
                                <input type="text" class=" form-control input-custom-border"  name="alt_text" id="alt-tekst">
                            </div>
                        </div>
                        <div class="col-md-6 centrirajFormuChoose" >
                            <label  class=" control-label"  >(*.jpg, max. 80 MB)</label>
                            <div >
                                <!--<input type="file" name="file">-->

                                <!-- actual upload which is hidden -->
                                <input type="file" name="file" id="actual-btn" hidden/>

                                <!-- custom upload button -->
                                <label for="actual-btn"  class="btn-choose-file">Choose File</label>

                                <!-- name of file chosen -->
                                <span id="file-chosen">No file chosen</span>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3 centrirajFormuDugmad" >
                            <button type="submit" class="btn-save">Sačuvaj</button>
                            <a th:href="@{/admin/galerija}" class="btn-back">Nazad</a>
                        </div>
                    </form>
                </div>
            </section>

            <th:block th:insert="fragments/footer :: footer" />

            <div id="backToTop"></div>


            <th:block th:insert="fragments/scripts :: scripts" />
            <script>
                const actualBtn = document.getElementById('actual-btn');

                const fileChosen = document.getElementById('file-chosen');

                actualBtn.addEventListener('change', function () {
                    fileChosen.textContent = this.files[0].name;
                });
            </script>
    </body>

</html>