@import "./variables";
@import "./mixins";

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    /*    font-family: Raleway, arial, verdana;*/
}
#msform {
    max-width: 100%;
    margin: 50px auto;
    position: relative;
    fieldset {
        background: $white-color;
        border: 0 none;
        border-radius: 0.188rem;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 1.25rem 1.875rem;
        box-sizing: border-box;
        width: 100%;
        /*margin: 0 10%;*/
        position: relative;
        &:not(:first-of-type) {
            display: none;
        }
    }
    input, textarea {
        padding: 0.625rem;
        border: 1px solid #892f2b;
        border-radius: 0.188rem;
        margin-bottom: 0.2rem;
        width: 100%;
        outline: none;
        box-sizing: border-box;
        font-size: 0.813rem;
    }
    .action-button {
        width: 49%;
        background: $burgundy-color;
        font-weight: bold;
        color: $white-color;
        border: 0 none;
        border-radius: 0.188rem;
        cursor: pointer;
        padding: 0.75rem 0.313rem;
        margin: 1.25rem 0.313rem 1.25rem 0;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid $burgundy-color;

        &:hover {
            box-shadow: 0 0 0 2px $white-color, 0 0 0 3px $redish-color;
            background-color: $redish-color;
        }
        &:focus {
            box-shadow: 0 0 0 2px $white-color, 0 0 0 3px $redish-color;
        }
    }
    .firstDaljeBtn {
        float: right;
        margin-top: 1rem;
    }
    .secondDaljeBtn {
        float: right;
    }
    .zavrsiPorudzbinuBtn {
        margin: 0;
    }
    .nazadBtnShop {
        background: transparent;
        color: $burgundy-color;
        border: 2px solid $burgundy-color;
        &:hover {
            background: transparent;
        }
    }
    .slika-korpaStavka {
        height: 200px; 
        width: 200px; 
        object-fit: cover;
    }
    .slika-korpaStavkaPregled {
        height: 200px;
        width: 500px;
        object-fit: cover;
    }
}
.fs-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $burgundy-color;
    margin-bottom: 1.25rem;
    text-align: center;
    font-weight: 700;
}
#progressbar {
    margin-bottom: 1.875rem;
    overflow: hidden;
    counter-reset: step;
    text-align: center;
    li {
        list-style-type: none;
        color: $brown-black-color;
        text-transform: uppercase;
        font-size: 12px;
        width: 33.33%;
        float: left;
        position: relative;
        &:before {
            content: counter(step);
            counter-increment: step;
            width: 1.563rem;
            line-height: 1.563rem;
            display: block;
            font-size: 0.813rem;
            color: #333;
            border: 2px solid #892f2b;
            background: #fff;
            border-radius: 0.188rem;
            margin: 0 auto 0.313rem auto;
        }
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: #892f2b;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1;
        }
        &:first-child {
            &:after {
                content: none;
            }
        }
    }
    li.active {
        &:before {
            background: #892f2b;
            color: #fff;
        }
        &:after {
            background: #892f2b;
            color: #fff;
        }
    }
}
.skloni {
    cursor: pointer;
    float: right;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: $brown-black-color;
    opacity: .7;
    &:hover {
        opacity: 1;
    }
    .ukloniSmallerScreen {
        display: none;
    }

}
.minusBtn, .plusBtn {
    padding: 0 .5rem !important;
    color: $white-color !important;
    width: 15% !important;
    font-weight: 500;
    background: $burgundy-color !important;
    &:hover {
        text-decoration: none;
        color: $white-color !important;
        background: $redish-color !important;
        border: 1px solid $redish-color !important;

    }
}
.qty {
    padding: 0 0.5rem !important;
    color: $brown-black-color !important;
    width: 40% !important;
    border: none !important;
    background: transparent !important;
    text-align: center !important;
    font-size: 1rem !important;
}

input[value='+'], input[value='-'] { 
    margin: 0 auto !important;
    padding-right: .9rem !important;
    font-size: 1rem !important;
}​
/*.plusBtn {
    background: #892f2b;
    padding: 0 0.5rem;
    color: #fff;
    &:hover {
        text-decoration: none;
        color: #fff;
        background: $redish-color;
    }
}*/



.border-number {
    color: black;
    padding: 0 0.5rem;
    &:hover {
        color: black;
        text-decoration: none;
    }
}
.labela {
    font-family: Raleway;
    font-size: 0.85rem;
}
.custom-select {
    border: 1px solid $burgundy-color !important;
}
.korpa {
    margin-top: 12.5vh;
}
.fieldset-korpa {
    background: $white-color;
    border: 0 none;
    border-radius: 0.188rem;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 1.25rem 1.875rem 2rem;
    box-sizing: border-box;
    width: 100%;
}
h5 {
    font-size: 1.06rem !important;
    font-weight: 600 !important;
}

#postarinatotal, #totalkilaza, #korpatotal {
    font-weight: 700;

}

.naslov {
    font-weight: bold;
}
.opis-proizvoda {
    font-size: .88rem;
}




@media only screen and (max-width: 767px) {
    .korpa {
        margin-top: 0;
        max-width: 81%;
        margin-left: auto;
        margin-right: auto;
    }
    #msform {
        margin-bottom: 1.5rem;
        .korpaStavkeSmallerScreen {
            .slikaStavkaSmallerScreen {
                .slika-korpaStavkaSmallerScreen {
                    height: 45vw !important;
                    width: 45vw !important;
                }
            }
        }
        .slika-korpaStavka {
            /*max-width: 60%;*/
            height: 120px;
            width: 120px;
        }
        .slika-korpaStavkaPregled {
            height: 100px;
            width: 100px;
        }
    }
    .qty {

        width: 35% !important;
    }
    .skloni {
        font-size: 1.2rem;

    }
}
@media only screen and (max-width: 530px) {
    #msform {
        margin-bottom: 1.5rem;
        .skloni {
            font-size: 1rem !important;
        }

    }
    .qty {
        width: 40% !important;

    }
}
@media only screen and (max-width: 1000px) {
    #msform {
        .action-button {
            padding: 0.75rem 0.313rem;
            margin: 0.25rem 0;
            width: 100%;
            text-transform: uppercase;
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.cenapr {
    font-size: .8rem;
    font-weight: 600;
}

.cenaproizvoda, .totalcenaproizvoda, .totalkilazaproizvoda  {
    font-size: .95rem;
    font-weight: 700;
}



@media (max-width: 1200px) {
    #msform {
        .korpaStavkeSmallerScreen {
            text-align: center;
            .row {
                display: block;
                width: 100%;
                margin: 0;
            }
            .slikaStavkaSmallerScreen {
                display: block;
                margin: .5rem auto 0 auto;
                padding: 0;
                flex: 0 0 60%;
                max-width: 60%;
                .slika-korpaStavkaSmallerScreen {
                    height: 28vw;
                    width: 28vw;
                    object-fit: cover;
                }
            }
            .nazivOpisSmallerScreen {
                margin: 1rem 0;
                .naslov {
                    font-size: 1.25rem;
                    font-weight: 600;
                }
                .opis-proizvoda {
                    font-size: 1rem;
                    margin-top: .5rem;
                }
            }

        }
        .cenaKilazaSmallerScreen {
            margin-top: 1.5rem;
        }
        .cenaprSmallerScreenStavkaPregled {
            margin-top:0 !important;
        }
        .minusBtnSmallerScreen {
            margin-top: 1.5rem;
        }
        .qtySmallerScreen {
            width: 50px !important;
            padding: .2rem !important;
        }

        .minusBtnSmallerScreen, .plusBtnSmallerScreen {
            padding: .1rem !important;
            width: 32px !important;
        }
        .cenaprSmallerScreen {
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 1rem;
        }
        .skloni {
            display: flex;
            margin: 1.5rem 0 .5rem 0;
            font-size: 1.1rem;
        }
        .ukloniSmallerScreen {
            display: block;
        }
    }

    .slika-korpaStavkaPregled {
        height: 160px;
        width: 300px;
    }
    fieldset {
        padding: 1.8rem;

    }
    .fieldset-korpa {
        padding: 1.8rem 2rem 2rem 2rem;
    }
}


@media (max-width: 992px) {
    .minusiplus {
        span {
            /*        &::before {
                        content: "\a" !important;
                    white-space: pre !important;
                    }*/
            &::after {
                content: "\a" !important;
                white-space: pre !important;
            }
        }
        min-width: 18%;

    }
    .qty {
        width: 42% !important;
    }
    #msform {
        .korpaStavkeSmallerScreen {
            .slikaStavkaSmallerScreen {
                flex: 0 0 100%;
                max-width: 100%;
                .slika-korpaStavkaSmallerScreen {
                    height: 32vw;
                    width: 32vw;
                }
            }
        }
        .cenaprSmallerScreen {
            margin-top: .4rem;
        }
        .cenaKilazaSmallerScreen {
            margin-top: 1rem;
        }
        /*display: none;*/

        .slika-korpaStavka {
            /*max-width: 60%;*/
            height: 120px;
            width: 120px;
        }
        .slika-korpaStavkaPregled {
            height: 120px;
            width: 300px;
        }
    }
}




