@import "./variables";
@import "./mixins";


.adminNoviProizvodForma {
    -webkit-box-shadow: 0px 1px 14px -4px rgba(193,193,193,0.93); 
    box-shadow: 0px 1px 14px -4px rgba(193,193,193,0.93);
    padding-top: 4rem;
    .centrirajFormuInput {
        margin-left: auto;
        margin-right: auto;
        .input-custom-border {
            border: 1px solid $burgundy-color; 
            border-radius: .2rem;
        }
    }
    .buttonsSaveAndBack {
        padding-bottom: 3rem;
        padding-top: 1rem;
        margin: 0 auto;
        .btn-save {
            @include sacuvajBtn
        }

        .btn-back {
            @include nazadBtn;
        }
    }
}

select {
    cursor: pointer;
}

.btn-choose-file {
   @include btnChooseFile;

}

#file-chosen{
    margin-left: 0.3rem;
 
}

.dodavanje-novog-proizvoda {
    font-size: 1.3rem;
    margin: 0 auto;
    color: $burgundy-color;
    margin-bottom: 2rem;
    /*text-transform: uppercase;*/
}

.istorijaKupovine-link {
    float:right; 
    text-decoration:underline;
    font-size: 1.05rem;
    margin: 0 auto;
    color: $brown-black-color;
    &:hover {
        color: $redish-color;
            text-decoration:underline !important;

    }
}


@media screen and (max-width:767px) {
    .istorijaKupovine-link {
    font-size: 0.95rem;
    }
}