@import "./variables";
@import "./mixins";

.referenca-proudzbine-box {
    -webkit-box-shadow: 0px 1px 14px -4px rgba(193,193,193,0.93); 
    box-shadow: 0px 1px 14px -4px rgba(193,193,193,0.93);
    margin: 5rem 0;
    .kupovina {
        padding: 1.5rem;
        .referenca-proudzbine  {
            font-size: 1.5rem;
            font-weight: 700;
            color: #60584f;
        }
        .referenca-proudzbine-padding {
            padding: 1.5rem 0;
        }
        .text-za-referencu {
            font-size: 1.2rem;
        }
        .info-o-kupcu {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: .7rem;
        }
        .img-frame {
            width: 100%;
            height: 500px;
        }
        .img-order {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .kupacBold {
            font-weight: 500;
            font-size: 1.1rem;
        }
        .kupacNotBold {
            font-weight: 400;
        }
        .naslov-porudzbinaStavkaPregled  {
            font-size: 1.3rem;
            font-weight: 600;
            color: $brown-black-color;
            &:hover {
                opacity: .7;
            }
        }
        .opis-proizvoda-porudzbinaStavkaPregled, .kolicina-porudzbinaStavkaPregled, .cena-porudzbinaStavkaPregled {
            font-size: 1.2rem;

        }
    }


}

.containerImgPorudzbinaStavkaPregled {
    height: 35vh;
    .slika-porudzbinaStavkaPregled {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}


@media screen and (max-width:1200px) {
    .referenca-proudzbine-box {
        .kupovina {
            .img-frame {
                height: 420px;
            }

        }
    }

    .containerImgPorudzbinaStavkaPregled {
        height: 30vh;
    }

}

@media screen and (max-width:992px) {
    .referenca-proudzbine-box {
        margin: 4rem 0;
        .kupovina {
            .img-frame {
                height: 600px;
            }
            .text-za-referencu-o-proizvodu {
                margin-top:1.5rem;
            }
            .naslov-porudzbinaStavkaPregled  {
                font-size: 1.2rem;
            }
            .opis-proizvoda-porudzbinaStavkaPregled, .kolicina-porudzbinaStavkaPregled, .cena-porudzbinaStavkaPregled {
                font-size: 1.1rem;

            }
        }
    }

    .containerImgPorudzbinaStavkaPregled {
        height: 20vh;
    }

}

@media screen and (max-width:767px) {
    .referenca-proudzbine-box {
        margin: 3rem 0;
        .kupovina {
            .img-frame {
                height: 480px;
            }
            .naslov-porudzbinaStavkaPregled  {
                font-size: 1.05rem;
            }
            .opis-proizvoda-porudzbinaStavkaPregled, .kolicina-porudzbinaStavkaPregled, .cena-porudzbinaStavkaPregled {
                font-size: .95rem;

            }
        }
    }
    .containerImgPorudzbinaStavkaPregled {
        height: 13vh;
    }


}

@media screen and (max-width:576px) {
    .referenca-proudzbine-box {
        margin: 2rem 0;
        .kupovina {
            .referenca-proudzbine {
                font-size: 1.2rem;
            }
            .img-frame {
                height: 75vw;
            }
            .info-o-kupcu {
                font-size: 1.1rem;
            }
            .kupacBold {
                font-size: 1rem;
            }
            .naslov-porudzbinaStavkaPregled  {
                font-size: .95rem;
            }
            .opis-proizvoda-porudzbinaStavkaPregled, .kolicina-porudzbinaStavkaPregled, .cena-porudzbinaStavkaPregled {
                font-size: .85rem;

            }
        }
    }
    .containerImgPorudzbinaStavkaPregled {
        height: 20vw;
    }

}