$font-big-header: 'Playfair Display', serif;
$font-rest: 'Raleway', sans-serif;
$font-for-numbers: 'Lato', sans-serif;

$white-color: #fff;
$redish-color: #B23539;
$brown-black-color: #211B14;
$burgundy-color: #892F2B;
$light-beige-color: #e6e6e4;
$greyish-color: #525252;

