
@import "./variables";
@import "./mixins";

.pagination-gallery {
    margin-right:0;
}

.pagination {
    >.disabled {
        >a {
            color: #ccc;
            background-color: transparent;
            border-color: rgba(18,18,18,.13);
            cursor: not-allowed;
            &:focus, &:hover {
                color: #ccc;
                background-color: transparent;
                border-color: rgba(18,18,18,.13);
                cursor: not-allowed;
            }
        }
    }

    >li.active {
        >a {
            color: $white-color;
            border-color: $burgundy-color;
            background: $burgundy-color;
            &:active, &:focus, &:hover {
                color: $white-color;
                border-color: $burgundy-color;
                background: $burgundy-color;

            }
        }
    }

    .page-link {
        color: $redish-color;
        text-align: center;
        width: 48px;
        height: 48px;
        padding: .7rem 0.42rem !important;    
        &:hover {
            background: transparent;
            border-color: $redish-color;
            color: $redish-color;
        }
    }
}


