<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

    </head>

    <body>

        <th:block th:fragment="footer">

         


            <footer class="animation-element bounce-up">
                <div class="links-social">
                    <div class="container-class container">
                        <div class="links-social-inner">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="link-groups">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="links">
                                                    <p class="title">Informacije</p>
                                                    <ul>
                                                        <li><a th:href="@{/onama}" >O nama</a></li>
                                                        <li><a th:href="@{/infoDostava}">Informacije o dostavi i reklamacijama</a></li>
                                                        <li><a th:href="@{/usloviKoriscenja}">Uslovi korišćenja</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="links">
                                                    <p class="title">Vaš nalog</p>
                                                    <ul>
                                                        <li><a th:href="@{/registration}">Uloguj se</a></li>
                                                        <li><a th:href="@{/registration}">Registruj se</a></li>
                                                        <li><a th:href="@{/shoppingCart}">Vaša korpa</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="links">
                                                    <p class="title">Preporuka</p>
                                                    <ul>
                                                        <li><a th:href="@{/petmania}" >Petmania</a></li>
                                                        <li><a th:href="@{/enterijer}" >HORECA tekstil</a></li>
                                                        <li><a th:href="@{/dekorativniProgram}">Dekorativni tekstil za kuću</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="social-newsletter">
                                        <div class="social-links">
                                            <p class="title">Povežite se sa nama</p>
                                            <ul class="social list-inline list-unstyled">
                                                <li><a href="https://www.facebook.com/margoteks/" aria-label="Our Facebook page"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" aria-label="Our instagram page"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copyright">© Margotekstil | All rights reserved. <br>
                        <a href="https://margotekstil.com">Made by <b>CMI<b></a>
                </div>

            </footer>

        </th:block>




    </body>
</html>