<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

    </head>

    <body>

        <th:block th:fragment="pagination (lista)">

           
            <!--pagination start-->
            <nav aria-label="Page navigation">

                <ul class="pagination justify-content-end pagination-gallery">

                    <!-- previous link start-->
                    <li th:class="${lista.isFirst()} ? 'disabled' : ''">
                        <a class="page-link" th:if="${lista.isFirst()}" href="#">«</a>
                        <a class="page-link" th:if="${lista.getNumber() == 1}" href="?page=0">«</a>
                        <a  class="page-link"th:if="${lista.getNumber() > 1}" th:href="'?page='+${lista.getNumber()-1}">«</a>
                    </li> <!-- previous link end-->

                    <th:block th:each="pageNo : ${#numbers.sequence(0, lista.getTotalPages()-1)}">
                        <li th:class="${pageNo == lista.getNumber()} ? 'active' : ''" >
                            <a  class="page-link" th:text="${pageNo + 1}" th:href="'?page='+${pageNo}"></a>                      
                        </li>
                    </th:block>


                    <!-- next link start-->
                    <li th:class="${lista.isLast()} ? 'disabled' : ''">
                        <a class="page-link" th:if="${lista.isLast()}" href="#">»</a>
                        <a class="page-link" th:if="${not lista.isLast()}" th:href="'?page='+${lista.getNumber()+1}">»</a>
                    </li> <!-- next link end-->

                </ul>

            </nav>
            <!--pagination end-->


        </th:block>




    </body>
</html>