<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >

    <head>
        <title>Margotekstil Navigation</title>


    </head>


    <body>
    <th:block th:fragment="topbar">
        <div class="header-top">
            <div class="header-row">
                <div class="header-col header-right">
                    <div class="header-contact">
                        <p>VM MARGO TEKSTIL DOO - PIB: 112106369 | MB: 21608491 | <a href="tel:+381 64 112 51 29">+381 64 112 51 29</a> | <a href="https://goo.gl/maps/thFoVjcg9BCFShPH8" target="_blank">Časlava Veljića 53, 1090 Beograd, Srbija</a> | <a href="mailto:margoteks.doo@gmail.com" target="_blank" rel="noopener">margoteks.doo@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>


    </th:block>

    






</body>
</html>