.about-section {
  position: relative;
  padding: 7.5rem 0 4.375rem;
}
.about-section .container .content-column {
  position: relative;
  margin-bottom: 3.125rem;
}
.about-section .container .content-column .inner-column {
  position: relative;
}
.about-section .container .content-column .inner-column .sec-title {
  margin-bottom: 2rem;
}
.about-section .container .content-column .inner-column .sec-title .title {
  position: relative;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #b23539;
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.about-section .container .content-column .inner-column .sec-title h2 {
  position: relative;
  display: block;
  font-size: 2.5rem;
  line-height: 1.28em;
  color: #211b14;
  font-weight: 600;
  padding-bottom: 1.125rem;
}
.about-section .container .content-column .inner-column .sec-title h2:before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 5rem;
  height: 3px;
  background-color: #d1d2d6;
}
.about-section .container .content-column .inner-column .text {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #525252;
}
.about-section .container .content-column .inner-column .list-style-one {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 2.813rem;
}
.about-section .container .content-column .inner-column .list-style-one li {
  position: relative;
  font-weight: 500;
  line-height: 1.625rem;
  color: #211b14;
  padding-left: 2.188rem;
  margin-bottom: 0.75rem;
}
.about-section .container .content-column .inner-column .list-style-one li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  font-size: 18px;
  padding: 0px;
  color: #b23539;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  /*text-rendering: auto;*/
  line-height: 1.6;
  font-family: FontAwesome;
  font-display: swap;
}
.about-section .container .content-column .inner-column .list-style-one li a {
  color: #211b14;
}
.about-section .container .content-column .inner-column .btn-box {
  position: relative;
}
.about-section .container .content-column .inner-column .btn-box a {
  padding: 0.75rem 1.125rem;
}
.about-section .container .content-column .inner-column .btn-box .shopBtn-onama-page {
  cursor: pointer;
  outline: none;
  background: #892f2b;
  color: white;
  transition: outline-offset 200ms ease;
  border-radius: .25rem;
  outline-color: #fcfcfc;
  position: relative;
  display: inline-block;
  font-size: 1.063rem;
  line-height: 1.875rem;
  letter-spacing: 0.02em;
  font-weight: 600;
  margin-bottom: .5rem;
  width: 175px;
  text-align: center;
}
.about-section .container .content-column .inner-column .btn-box .shopBtn-onama-page:hover, .about-section .container .content-column .inner-column .btn-box .shopBtn-onama-page:focus {
  outline: 2px solid white;
  outline-offset: -6px;
  background-color: #b23539;
  text-decoration: none;
}
.about-section .container .content-column .inner-column .btn-box .contactUsBtn-onama-page {
  background: transparent;
  border: 2px solid #892f2b;
  color: #892f2b;
  transition: outline-offset 200ms ease;
  border-radius: .25rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: outline-offset 200ms ease;
  letter-spacing: .03rem;
  font-size: .96rem;
  width: 175px;
  text-align: center;
  font-weight: 600;
  line-height: 1.68rem;
  margin-left: .4rem;
}
.about-section .container .content-column .inner-column .btn-box .contactUsBtn-onama-page:hover, .about-section .container .content-column .inner-column .btn-box .contactUsBtn-onama-page:focus {
  outline: 2px solid #b23539;
  outline-offset: -6px;
  color: #b23539;
  text-decoration: none;
}
.about-section .container .image-column {
  position: relative;
}
.about-section .container .image-column .inner-column {
  position: relative;
  padding-left: 7.5rem;
  padding-bottom: 7.813rem;
}
.about-section .container .image-column .inner-column .image-1 {
  position: relative;
}
.about-section .container .image-column .inner-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  .about-section {
    padding: 4rem 0 1rem;
  }
}
@media screen and (max-width: 991px) {
  .about-section .container .image-column .inner-column {
    padding-left: 13rem;
  }
}
@media screen and (max-width: 767px) {
  .about-section .container .image-column .inner-column {
    padding-left: 7.5rem;
  }
}
@media screen and (max-width: 414px) {
  .about-section {
    padding: 2rem 0 0;
  }
  .about-section .container .content-column .inner-column .text {
    font-size: 1rem;
  }
  .about-section .container .content-column .inner-column .sec-title h2 {
    font-size: 2.2rem;
  }
  .about-section .container .content-column .inner-column .btn-box .shopBtn-onama-page {
    font-size: .95rem;
    letter-spacing: 0.04em;
  }
  .about-section .container .content-column .inner-column .btn-box .contactUsBtn-onama-page {
    margin: 0.3rem 0 0 0;
    width: 167px;
  }

  .onama-img2 {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 375px) {
  .about-section {
    padding: 1rem 0 0;
  }
  .about-section .container .content-column .inner-column .text {
    font-size: 1rem;
  }
  .about-section .container .content-column .inner-column .sec-title h2 {
    font-size: 1.95rem;
  }

  .onama-img2 {
    max-width: 200px;
    max-height: 200px;
  }
}
@media screen and (max-width: 353px) {
  .onama-img2 {
    max-width: 160px;
    max-height: 160px;
  }
}
@media screen and (max-width: 280px) {
  .about-section .container .image-column .inner-column {
    padding-left: 6rem;
  }

  .onama-img2 {
    max-width: 150px;
    max-height: 150px;
  }
}
