.pagination-gallery {
  margin-right: 0;
}

.pagination > .disabled > a {
  color: #ccc;
  background-color: transparent;
  border-color: rgba(18, 18, 18, 0.13);
  cursor: not-allowed;
}
.pagination > .disabled > a:focus, .pagination > .disabled > a:hover {
  color: #ccc;
  background-color: transparent;
  border-color: rgba(18, 18, 18, 0.13);
  cursor: not-allowed;
}
.pagination > li.active > a {
  color: white;
  border-color: #892f2b;
  background: #892f2b;
}
.pagination > li.active > a:active, .pagination > li.active > a:focus, .pagination > li.active > a:hover {
  color: white;
  border-color: #892f2b;
  background: #892f2b;
}
.pagination .page-link {
  color: #b23539;
  text-align: center;
  width: 48px;
  height: 48px;
  padding: 0.7rem 0.42rem !important;
}
.pagination .page-link:hover {
  background: transparent;
  border-color: #b23539;
  color: #b23539;
}
