.productShow {
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.licniPodaciForma {
  -webkit-box-shadow: 0px 1px 14px -4px rgba(193, 193, 193, 0.93);
  box-shadow: 0px 1px 14px -4px rgba(193, 193, 193, 0.93);
  padding-top: 4rem;
}
.licniPodaciForma .licniPodaci {
  font-size: 1.3rem;
  margin: 0 auto;
  color: #b23539;
  margin-bottom: 2rem;
  font-weight: 500;
}
.licniPodaciForma .centrirajFormuInput {
  margin-left: auto;
  margin-right: auto;
}
.licniPodaciForma .centrirajFormuInput .input-custom-border {
  border: 1px solid #892f2b;
  border-radius: .2rem;
}
.licniPodaciForma .buttonsSaveAndBack {
  padding-bottom: 3rem;
  padding-top: 1rem;
  margin: 0 auto;
}
.licniPodaciForma .buttonsSaveAndBack .btn-save {
  margin-right: .2rem;
  cursor: pointer;
  border: 0;
  background: #892f2b;
  color: white;
  padding: 0.6em 1em;
  position: relative;
  z-index: 1;
  border-radius: .3rem;
  outline: none;
}
.licniPodaciForma .buttonsSaveAndBack .btn-save::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b23539;
  z-index: -1;
  transition: transform 200ms ease-in;
  transform: scale(0);
  transform-origin: top bottom;
}
.licniPodaciForma .buttonsSaveAndBack .btn-save:hover::after {
  transform: scale(1);
  transform-origin: bottom top;
  border-radius: .3rem;
}
.licniPodaciForma .buttonsSaveAndBack .btn-back {
  cursor: pointer;
  border: 0;
  background: none;
  color: #b23539;
  padding: 0.6em 1em;
  position: relative;
  z-index: 1;
  border: 2px solid #b23539;
  border-radius: .3rem;
}
.licniPodaciForma .buttonsSaveAndBack .btn-back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b23539;
  z-index: -1;
  transition: transform 200ms ease-in;
  transform: scale(0);
  transform-origin: top bottom;
}
.licniPodaciForma .buttonsSaveAndBack .btn-back:hover {
  color: white;
  text-decoration: none;
}
.licniPodaciForma .buttonsSaveAndBack .btn-back:hover::after {
  transform: scale(1);
  transform-origin: bottom top;
}

@media screen and (max-width: 767px) {
  .productShow {
    margin-top: 1.8rem;
    padding-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .licniPodaciForma {
    padding-top: 1rem;
  }
  .licniPodaciForma .licniPodaci {
    font-size: 1.12rem;
  }
  .licniPodaciForma .buttonsSaveAndBack {
    padding-bottom: 2rem;
  }
}
