#prikaz-showing .img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
#prikaz-showing .img-overlay-margo {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

#next-button, #previous-button {
  color: white;
  font-size: 2em;
  transition: opacity 0.8s;
  cursor: pointer;
}
#next-button:hover, #previous-button:hover {
  opacity: 0.7;
}
@media screen and (min-width: 767px) {
  #next-button, #previous-button {
    font-size: 2.75em;
  }
}

#exit-button {
  color: white;
  font-size: 2.75em;
  transition: opacity 0.8s;
  position: absolute;
  top: 4rem;
  right: 2rem;
  cursor: pointer;
}
#exit-button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  #exit-button {
    font-size: 2em;
    right: 2.8rem;
  }
}

#overlay-proizvod-margo {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /*user-select: none;*/
}
#overlay-proizvod-margo img {
  margin: 0;
  width: 80%;
  height: auto;
  object-fit: contain;
  padding: 5%;
}
@media screen and (min-width: 767px) {
  #overlay-proizvod-margo img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #overlay-proizvod-margo img {
    width: 50%;
  }
}
