#regi-login-form {
    position: relative;
    min-height: 80vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

#regi-login-form .container-registration {
    position: relative;
    width: 62.5rem;
    height: 37.5rem;
    background: #fff;
    box-shadow: 0 0.938rem 3.125rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#regi-login-form .container-registration .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#regi-login-form .container-registration .user .formBx {
    position: relative;
    width: 60%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    transition: 0.5s;
}

#regi-login-form .container-registration .user .formBx form h2 {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 0.938rem;
    color: #555;
}

#regi-login-form .container-registration .user .formBx form input {
    position: relative;
    width: 100%;
    padding: 0.625rem;
    background: #f5f5f5;
    color: #333;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    box-shadow: none;
    margin: 0.5rem 0;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 300;
}

#regi-login-form .container-registration .user .formBx form input[type='submit'] {
    width: 100%;
    background: #269143;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    /*    font-weight: 500;*/
    letter-spacing: 1px;
    transition: 0.5s;
    border-radius: 3px;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;

}

#regi-login-form .container-registration .user .formBx form input[type='submit']:hover {
    background: #207838;
    transition: 0.5s;
    transform: translate(0, -3px);


}

#regi-login-form .container-registration .user .formBx form .signup {
    position: relative;
    margin-top: 1.25rem;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #269143;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0 !important;
}
#regi-login-form .container-registration .user .formBx form .singups {
    margin-top: 0 !important;

}

#regi-login-form .container-registration .user .formBx form .signup button {
    font-weight: 600;
    /*text-decoration: none;*/
    color: #0a73e0;
    border:none;
    text-transform: uppercase;
}
#regi-login-form .container-registration .user .formBx form .signup button:hover {
    text-decoration: underline;
}


#regi-login-form .container-registration .signinBx .formBx {
    left: 0%;
}

#regi-login-form .container-registration .signinBx.active .formBx {
    left: 100%;
}



#regi-login-form .container-registration .signupBx {
    pointer-events: none;
}

#regi-login-form .container-registration .signupBx.active {
    pointer-events: initial;
}

#regi-login-form .container-registration .signupBx .formBx {
    left: 100%;
}

#regi-login-form .container-registration .signupBx.active .formBx {
    left: 0;
}


#regi-login-form .container-registration .forgotBx {
    pointer-events: none;
}
#regi-login-form .container-registration .forgotBx.active {
    pointer-events: initial;
}
#regi-login-form .container-registration .forgotBx .formBx {
    left: 100%;
}

#regi-login-form .container-registration .forgotBx.active .formBx {
    left: 0;
}




@media (max-width: 992px) {
    #regi-login-form .container-registration {
        max-width: 400px;
    }


    #regi-login-form .container-registration .user .formBx {
        width: 100%;
    }
}




#regi-login-form .container-registration .user .formBx form .forgotten-pass {
    position: relative;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #269143;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 !important;
}

#regi-login-form .container-registration .user .formBx form .forgotten-pass a {
    font-weight: 600;
    /*text-decoration: none;*/
    color: #0a73e0;
}



span.connect-with {
    width: 100%;
    margin-top: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
}

span.connect-with::before {
    content: "";
    display: inline-block;
    width: 42%;
    height: 1px;
    background: #aaa;
    vertical-align: middle;
    margin-right: 5%;
}
span.connect-with::after {
    content: "";
    display: inline-block;
    width: 45%;
    height: 1px;
    background: #aaa;
    vertical-align: middle;
    margin-left: 5%;
}

.connect-with-icons {
    text-align: center;
}

div.connect-with-icons {
    padding: 10px;
}

.stroke-transparent {
 -webkit-text-stroke: 1px #333;
 -webkit-text-fill-color: transparent;
}
.fa-facebook.stroke-transparent:hover {
 -webkit-text-stroke: 1px #1962fc ;
}
.fa-google.stroke-transparent:hover {
 -webkit-text-stroke: 1px #ff1100;
}
.fa-linkedin.stroke-transparent:hover {
 -webkit-text-stroke: 1px #2ea5e6;
}
.fa-google-kastom:hover {
    background: none !important;
}



/*to remove arrows from input type number*/
.no-arrow::-webkit-inner-spin-button {
  display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*end of - to remove arrows from input type number*/




.remember-me {
    width: 13px !important;
    height: 13px !important;    
}

.rememberMe {
     font-family: 'Montserrat', sans-serif;
font-size: 0.8rem;
color: #635757 ;
letter-spacing: 1px;
}

.uslovi-koriscenja {
    cursor: pointer;
}