#regi-login-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
#regi-login-form .container-registration {
  position: relative;
  min-height: 23.5rem;
  background-color: white;
  box-shadow: 0 0.1rem 2rem rgba(76, 22, 22, 0.4);
  overflow: hidden;
}
#regi-login-form .container-registration .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#regi-login-form .container-registration .user .formBx {
  position: relative;
  width: 70%;
  height: 100%;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  transition: 0.5s;
}
#regi-login-form .container-registration .user .formBx form h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 0.938rem;
  color: #b23539;
}
#regi-login-form .container-registration .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 0.625rem;
  background-color: #fcfcfc;
  color: #211b14;
  border: 1px solid #892f2b;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 300;
}
#regi-login-form .container-registration .user .formBx form input:focus {
  background-color: #fcfcfc;
}
#regi-login-form .container-registration .user .formBx form input[type='submit'] {
  width: 50%;
  cursor: pointer;
  outline: none;
  background: #892f2b;
  color: white;
  transition: outline-offset 200ms ease;
  border-radius: .25rem;
  outline-color: #fcfcfc;
  text-transform: uppercase;
}
#regi-login-form .container-registration .user .formBx form input[type='submit']:hover, #regi-login-form .container-registration .user .formBx form input[type='submit']:focus {
  outline: 2px solid white;
  outline-offset: -6px;
  background-color: #b23539;
  text-decoration: none;
}
#regi-login-form .container-registration .user .formBx form .signup {
  position: relative;
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  color: #211b14;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  outline: none;
  border: none;
  background-color: #fcfcfc;
}
#regi-login-form .container-registration .user .formBx form .signup:hover {
  text-decoration: underline;
}
#regi-login-form .container-registration .user .formBx form .singups {
  margin-top: 0;
}
#regi-login-form .container-registration .user .formBx form .checkbox .rememberMe {
  color: #211b14;
  letter-spacing: 0.3px;
}
#regi-login-form .container-registration .user .formBx form .checkbox .rememberMe .remember-me {
  width: 0.813rem;
  height: 0.813rem;
}
#regi-login-form .container-registration .user .formBx form .checkbox .rememberMe .uslovi-koriscenja {
  cursor: pointer;
  color: #892f2b;
}
#regi-login-form .container-registration .user .formBx form .checkbox .rememberMe .uslovi-koriscenja:hover {
  color: #b23539;
  text-decoration: underline !important;
}
#regi-login-form .container-registration .signinBx .formBx {
  right: 0%;
}
#regi-login-form .container-registration .signinBx.active .formBx {
  right: 100%;
}
#regi-login-form .container-registration .signupBx {
  pointer-events: none;
}
#regi-login-form .container-registration .signupBx .formBx {
  right: 100%;
}
#regi-login-form .container-registration .signupBx.active {
  pointer-events: initial;
}
#regi-login-form .container-registration .signupBx.active .formBx {
  right: 0;
}
#regi-login-form .container-registration .forgotBx {
  pointer-events: none;
}
#regi-login-form .container-registration .forgotBx .formBx {
  right: 100%;
}
#regi-login-form .container-registration .forgotBx.active {
  pointer-events: initial;
}
#regi-login-form .container-registration .forgotBx.active .formBx {
  right: 0;
}

#openPassword, .openPasswordConf, .openPasswordLogin, #showPassword, #showPasswordRepeat {
  color: #8a8383;
}

#closedPassword, .closedPasswordConf, .closedPasswordLogin, #hidePassword, #hidePasswordRepeat {
  display: none;
  color: #892f2b;
}

#openPassword, #closedPassword, .openPasswordConf, .closedPasswordConf {
  margin-top: -38px;
  float: right;
  position: relative;
  font-size: 1.2rem;
  margin-right: .8rem;
  cursor: pointer;
}

.openPasswordLogin, .closedPasswordLogin {
  margin-top: -46px;
  float: right;
  position: relative;
  font-size: 1.2rem;
  margin-right: .8rem;
  cursor: pointer;
}

#showPassword, #hidePassword, #showPasswordRepeat, #hidePasswordRepeat {
  margin-top: -40px;
  float: right;
  position: relative;
  font-size: 1.2rem;
  margin-right: .8rem;
  cursor: pointer;
}

#label, #label-2 {
  font-size: .85em;
  color: #445252;
  letter-spacing: .02rem;
  display: none;
}

/*za telefon input*/
.no-arrow::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1200px) {
  #regi-login-form .container-registration .user .formBx form h2 {
    font-size: 1.65rem;
  }
}
@media (max-width: 992px) {
  #regi-login-form .container-registration {
    max-width: 600px;
    min-height: 27rem;
  }
  #regi-login-form .container-registration .user .formBx {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #regi-login-form .container-registration .user .formBx form h2 {
    font-size: 1.48rem;
  }
  #regi-login-form .container-registration .user .formBx form input[type='submit'] {
    width: 100%;
  }

  #openPassword, #closedPassword, .openPasswordConf, .closedPasswordConf,
  .openPasswordLogin, .closedPasswordLogin, #showPassword, #hidePassword,
  #showPasswordRepeat, #hidePasswordRepeat {
    font-size: 1rem;
  }
}
@media (max-width: 362px) {
  #regi-login-form .container-registration .user .formBx form h2 {
    font-size: 1.3rem;
  }
  #regi-login-form .container-registration .user .formBx form p {
    font-size: .85rem;
  }
}
