.body-content .content {
  margin: 2rem 0 3rem 0;
}
.body-content .content .page-content .page-text .email-poverenik {
  color: #b23539;
}
.body-content .content .page-content .page-text .email-poverenik:hover {
  color: #00a5b5;
}
